[Unit]
Description=Simple Telegram Spring Bot
After=syslog.target network.target

[Service]
SuccessExitStatus=143


User=pi
Group=pi


Type=simple

ExecStart=java -jar /home/pi/telegram-bots/avk_spingbot.jar

[Install]
WantedBy=multi-user.target